######忽略bin目录
bin/
######忽略gen目录
gen/
######忽略.settings目录
.settings/
######忽略.so文件
libs/armeabi/libnavidog4x.so
######忽略project.properties文件
#project.properties
######忽略default.properties文件
#default.properties
######忽略.classpath文件
.classpath
######忽略.project文件
.project

*~
*.user
*.a
*-build-desktop/
obj/
#libs/
*.DS_Store

