<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rd.veuisdk">


    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.CAMERA"/>
    <permission android:name="android.permission.RECORD_AUDIO"/>

    <application android:allowBackup="true">
        <activity
            android:name=".SelectMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".VideoPreviewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".CropRotateMirrorActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".VideoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".SpeedPreviewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".ImageDurationActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".ExtPhotoActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".RecorderActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".MoreMusicActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".SightseeingFileActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".TrimMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".SelectModeActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".MixRecordActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".SortMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>
        <activity
            android:name=".TransitionActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"/>

    </application>

</manifest>
